<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="foot-out">
        <p>@CopyRight2024</p>
        <p>Author: Alok Verma</p>
        <p>Follow On linked In</p>
        <p>Follow on Git Hub</p>
    </div>
</body>
</html>