<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<% layout("/layouts/boilerPlate") %>

<body>
    <h3 class="title">Add Your New Post Here!</h3>
    <form method="POST" action="/contents">
        <h4>Enter Username: </h4> <input type="text" placeholder="Enter Username" name="userName">
        <h4>Enter Content: </h4> <input type="text" placeholder="Enter Content" name="content">
        <h4>Enter Image Link: </h4> <input type="text" placeholder="Enter Content" name="image">

        <br /><br /><button>Save</button>
    </form>
</body>
<!-- </html> -->